/* global */

* {
    box-sizing : border-box;
}

body, h1, h2, h3, h4, ul, li, dl, dt, dd, p, form, fieldset, legend {
    margin:0;
    padding:0
}


ul, li {
    list-style: none;
}

a{
    color:inherit;
    text-decoration:none
}

fieldset {
    border: 0;
}

button{
    cursor:pointer;
    border:none;
    background: transparent;
    padding: 0;
    font-family: "Noto Sans KR";
}

address{
    font-style:normal;
    margin: 0
}

.hide{
    position:absolute;
    left:-9999px;
    top:-9999px
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('../public/static/fonts/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('/public/static/fonts/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 800;
    src: url('../public/static/fonts/NotoSansKR-Bold.otf') format('opentype');
}

body {
    font-family: "Noto Sans KR", "맑은 고딕", "나눔고딕", "돋움";
    color: #3E3A39;
}


/* splash */
.splash_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFEAF0;
}

.splash_container.fadeOut {
    opacity : 0;
    transition : opacity 0.5s;
}

/* intro */
.intro_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.intro_swiper_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.intro_swiper_item h2 {
    color: #0047AA;
    font-weight: 800;
}

.intro_swiper_item p {
    font-size: 20px;
}

.intro_container .swiper-wrapper {
    padding-bottom: 40px;
}

.intro_container .swiper-pagination-bullet {
    background: #FFFFFF;
    border: 1px solid #000000;
    width: 10px;
    height: 10px;
    opacity: 1;
}

.intro_container .swiper-pagination-bullet-active {
    background: #D9D9D9;
}

.margin_bt {
    margin-bottom: 68px;
}

.intro_swiper_item_btn {
    width: 240px;
    height: 54px;
    background: linear-gradient(to right, #6366F1, #A855F7, #EC4899);
    border-radius: 28px;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

/* home - header*/
.navbar {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    background: #FFEAF0;
}

.navbar_toggle,
.navbar_back {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #0047AA;
    margin-right: 20px;
}

.navbar_brand {
    display: flex;
}

.navbar_brand img {
    width: 60px;
    height: 60px;
}

/* footer */
.bottom_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: #FFEAF0;
}

.bottom_nav_item {
    flex: 1;
    color: #A49A9D;
}

.bottom_nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom_nav_item .bottom_nav_icon {
    font-size: 24px;
}

.bottom_nav_item .bottom_nav_text {
    display: none;
    font-size: 12px;
}

.bottom_nav_item.active {
    color: #0047AA;
}

.bottom_nav_item.active .bottom_nav_text {
    display: block;
}

/*  main  */
main {
    height: calc(100vh - 120px);
    overflow-y: auto; 
}

/* main 1 */
.main_image_wrap {
    position: relative;
    margin: 40px 8px 8px 8px;
  }
  
.main_image_wrap img {
    display: block;
    width: 100%;
    border-radius: 16px;
}

.main_image_backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom,#fff, #000);
    border-radius: 16px;
    opacity: .4;
}

.main_image_wrap p {
    position: absolute;
    bottom: 20px;
    left: 5%;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;
}
 
.main_image_search {
    position: absolute;
    top: -16px;
    left: 10px;
    padding: 10px 18px;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.main_image_search fieldset {
    display: flex;
    align-items: center;
}

.main_image_search input {
    border: 0;
    background: inherit; 
}

.main_image_search input:focus {
    outline: none;
}

.main_image_search_icon {
    margin-right: 8px;
    font-size: 20px;
    color: #0047AA;
}

/* main 2 */
.service_section {
    position: relative;
    margin: 48px 30px;
}

.service_bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.service_bg_img1 {
    width: 75%;
    -webkit-animation: rotate-img-right 10s linear infinite;
    animation: rotate-img-right 10s linear infinite;
}

.service_bg_img2 {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-animation: rotate-img-left 10s linear infinite;
    animation: rotate-img-left 10s linear infinite;
}

.service_gray_circle {
    position: relative;
    border-radius: 50%;
    width: 50%;
    height: 0;
    padding-top: 50%;
    background: #F1E9E9;
    -webkit-animation: rotate-img-left 10s linear infinite;
    animation: rotate-img-left 10s linear infinite;
}

@keyframes rotate-img-left{
    100% {
        transform: rotate(-360deg);
    }
  }

@keyframes rotate-img-right{
    100% {
        transform: rotate(360deg);
    }
}

.service_btn_container {
    display: flex;
}

.service_btn_container.reverse {
    flex-direction: row-reverse;
}

.sevice_btn_wrap {
    position: relative;
    padding-top: 40%;
    width: 40%;
    height: 0;
}

.service_btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}

.service_btn.purple {
    background: #E9DDFF;
} 

.service_btn.blue {
    background: #CCE0FF;
}

/* main 3 */
.question_wrap {
    background: #ECF7FF;
    border-radius: 20px;
    margin: 8px;
    padding: 14px;
}

.question_title h3 {
    display: flex;
    align-items: center;
}

.question_header {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.FaLightbulb {
    margin-left: 10px;
    color: rgb(252, 193, 2);
}

.question_arrow {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 800;
}

.question_body {
    display: flex;
    margin-top: 20px;
}

/* common */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 40px 40px 40px;
}

.container.gap50 {
    gap: 50px
}

.container h2 {
    font-size: 20px;
}


/* alarm index */

.add_alarm_btn {
    padding: 14px 60px;
    background: linear-gradient(90deg, #A97AFF 0%, #FFA5BE 100%);
    border-radius: 28px;
    color: #fff;
    font-weight: 300;
}        

/* alarm step1 */

.medi_register_form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 40px;
}

.medi_register_form h2{
    font-size: 20px;
    margin-bottom: 18px;
}

.form_input {
    width: 310px;
    height: 30px;
    border: 0.5px solid #3e3a39;
    border-radius: 5px;
    margin-bottom: 65px;
}

.form_day_input {
    margin-bottom: 18px;
}

.form_day_input label {
    margin-left: 20px;
}

.form_input:focus {
    outline: none;
}

.form_radio_wrap {
    position: relative;
    display: flex;
    align-items: center;
}

.form_radio {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.form_radio + .form_radio_label {
    padding-left: 20px;
}

.form_radio + .form_radio_label::before {
    position: absolute;
    left: 0;
    top: 3px;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    content: "";
}

.form_radio:checked + .form_radio_label::before  {
    background-color: #0047AA;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form_inline_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_check_wrap {
    display: flex;
}

.form_check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.form_check + .form_check_label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #999;
    border-radius: 4px;
    color: #999;
}

.form_check:checked + .form_check_label {
    background: #0047AA;
    color: #fff;
}

.footer_btn_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

.next_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 48px;
    border-radius: 16px;
    background: #0047AA;
    font-size: 20px;
    color: #fff;
} 

.next_btn.disabled {
    opacity: .2;
    pointer-events: none;
}

/* alarm step2 */
.fieldset {
    width: 100%;
}

.form_input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_input_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 0 36px 0;
    width: 268px;
}

.form_hour_input {
    display: flex;
    align-items: center;
}

#hour {
    width: 60px;
    height: 36px;
    border-color: #999;
    margin-right: 7px;
    margin-top: 5px;
    font-size: 32px;
}

.hour_label,
.minute_label {
    font-size: 32px;
}

#minute {
    width: 50px;
    height: 30px;
    border: none;
}

.form_minutes_sel {
    display: flex;
    align-items: center;
    margin: 0 26px;
}

.minutes_arrow {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.add_alarm {
    width: 20px;
    height: 20px;
    background: url(../public/static/images/add_alarm.png) no-repeat; 
    text-indent: -9999px;
}

.hour_info li {
    font-size: 12px;
    margin-bottom: 8px;
    list-style: disc;
}

.alarm_list ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 16px
}

.alarm_list li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 268px;
    height: 54px;
    background: #E9DDFF;
    border-radius: 12px;
}

.alarm_list .delete_btn {
    font-size: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal_background {
    position: fixed;
    top:0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.sel_modal {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 293px;
    padding: 18px 40px;
    background: #E9DDFF;
    border-radius: 20px 20px 0px 0px;
}

.sel_minutes {
    display: flex;
    flex-direction: column;
}

.minutes {
    margin-bottom: 12px;
    cursor: pointer;
}

.minutes.active {
    background: #d9afe7;
}


.sel_btn_wrap {
    display: flex;
    justify-content: space-between;
}

.sel_btn_wrap button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    color: #fff;
    border-radius: 6px;
    margin-right: 10px;
}

.close_btn {
    background: #999;
}

.confirm_btn {
    background: #0047AA;
}

/* alarm step3 */

.list_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 293px;
    height: 47px;
    border-radius: 16px;
    background: #CCE0FF;
}

/* alarm list */

.alarm_list_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.register_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
}

.alarm_list_gap20 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.alarm_list_item,
.search_result_item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 342px;
    height: 100px;
    background: #CCE0FF;
    border-radius: 16px;
    padding: 20px 25px;
}

.alarm_time {
    width: 173px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.time_list {
    margin-right : 25px;
}

.delete_btn {
    font-size: 20px;
}

/* photo index */ 

.add_photo_btn {
    padding: 14px 60px;
    background: linear-gradient(to right, #7479FF, #6FB1FF, #A5DEFF);
    border-radius: 28px;
    color: #fff;
    font-weight: 300;
}

/* photo Step1 */

.file_input {
    display: none;
}

.add_photo{
    text-decoration: underline;
    padding-right: 16px;
}


/* photo Step2 */

/* photo Step3 */
.search_result_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 48px 0;
    gap: 20px
}

.search_result_item {
    align-items: center;
    background: #E9DDFF;
}

.search_result_txt {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
}

.search_result_item img{
    width: 70px;
    height: 28px;
}

.direct_search_btn {
    margin-top: 16px;
    text-decoration: underline;
}

/* setting */
.setting_list_toggle a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 14px 40px;
    background: #ECF7FF;
}

.setting_list_toggle h2 {
    font-size: 16px;
}

.setting_list_wrap{
    display: none;
    font-size: 14px;
}

.setting_list_item  {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.ck_slider {
position: absolute;
cursor: pointer;
top: 1px;
left: 0px;
right: 0px;
bottom: 0px;
background-color: #999;
-webkit-transition: .4s;
transition: .4s;
}

.ck_slider:before {
position: absolute;
content: "";
height: 22px;
width: 22px;
left: -1px;
bottom: -1px;
background-color: #d9d9d9;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .ck_slider {
background-color: #0047AA;
}

input:focus + .ck_slider {
box-shadow: 0 0 1px #0047AA;
}

input:checked + .ck_slider:before {
-webkit-transform: translateX(22px);
-ms-transform: translateX(22px);
transform: translateX(22px);
}

/* Rounded sliders */
.ck_slider.round {
    border-radius: 10px;
}

.ck_slider.round:before {
    border-radius: 50%;
}
  
.setting_list_cont{
    font-size: 12px;
}

.open_btn {
    display: block;
    background: url(/public/static/images/arrow_down.png);
    width: 18px;
    height: 9px;
    text-indent: -9999px;
    cursor: pointer;
}